/*footer css*/
footer {
  color: white; }
footer h3 {
  margin-bottom: 30px; }
footer .footer-above {
  padding-top: 50px;
  background-color: #8A2534; }
footer .footer-col {
  margin-bottom: 50px; }
footer .footer-below {
  padding: 25px 0;
  background-color: #8A2534;
}
